name = "PowerLawDecomposition"
uuid = "4cd8698f-ad51-4649-a7ea-ac2be30d2dac"
version = "0.1.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
